<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link href="https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700,900" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/@mdi/font@4.x/css/materialdesignicons.min.css" rel="stylesheet">
  <link href="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.min.css" rel="stylesheet">
  <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui">
  <script src="https://cdn.jsdelivr.net/npm/emoji-toolkit@5.0.5/lib/js/joypixels.min.js"></script>
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/emoji-toolkit@5.0.5/extras/css/joypixels.min.css" />
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.1/css/all.css"
    integrity="sha384-fnmOCqbTlWIlj8LyTjo7mOUStjsKC4pOpQbqyi7RrhN7udi9RwhKkMHpvLbHG9Sr" crossorigin="anonymous">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mtsgi/kitstrap/d/0.4/kitstrap.css">
  <link rel="stylesheet" href="https://cdn.jsdelivr.net/gh/mtsgi/kitstrap/d/0.4/kitstrap-font.css">
  <link href="https://fonts.googleapis.com/css?family=DM+Sans:500&display=swap" rel="stylesheet">
  <title>kit公式Webサイト</title>
  <meta name="description" content="kitDesktopはインストール不要でJavaScript上で完全に動作するオープンソースのデスクトップ環境です。">
  <meta name="twitter:card" content="summary">
  <meta property="og:type" content="website">
  <meta property="og:url" content="http://kitit.ml/">
  <meta property="og:title" content="kit Desktop System">
  <meta property="og:description" content="kitDesktopはインストール不要でJavaScript上で完全に動作するオープンソースのデスクトップ環境です。">
  <meta property="og:image" content="http://web.kitit.ml/icon.png">
  <meta property="og:site_name" content="kit Desktop System">
  <meta property="og:locale" content="ja_JP">
  <script src="script.js"></script>
  <link rel="stylesheet" href="./style.css">
  <link rel="shortcut icon" href="favicon.ico">
</head>

<body>
  <div id="app">
    <v-app id="inspire">
      <v-navigation-drawer
        app
        v-model="drawer"
        floating
        dark
        width="350"
        src="https://cdn.vuetifyjs.com/images/backgrounds/bg-2.jpg"
        mobile-break-point="50000"
      >
        <v-list-item>
          <v-list-item-content>
            <v-list-item-title class="copy">
              kit
            </v-list-item-title>
            <v-list-item-subtitle>
              desktop system
            </v-list-item-subtitle>
          </v-list-item-content>
        </v-list-item>

        <v-divider></v-divider>

        <v-list rounded>
          <a href="https://mtsgi.github.io/kit/" target="_blank" rel="noopener noreferrer" class="copy">
            <v-list-item link>
              <v-list-item-action>
                <v-icon>mdi-desktop-mac</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>Experience kit Canary</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </a>
          <a href="https://mtsgi.github.io/kitdocs/" target="_blank" rel="noopener noreferrer" class="copy">
            <v-list-item link>
              <v-list-item-action>
                <v-icon>mdi-file-document</v-icon>
              </v-list-item-action>
              <v-list-item-content>
                <v-list-item-title>View kit Documentation</v-list-item-title>
              </v-list-item-content>
            </v-list-item>
          </a>
        </v-list>
      </v-navigation-drawer>

      <v-app-bar fixed color="#ffffff" shrink-on-scroll prominent src="https://picsum.photos/1920/1080?random"
        fade-img-on-scroll>
        <template v-slot:img="{ props }">
          <v-img v-bind="props" gradient="to top right, rgba(200,200,200,.7), rgba(255,255,255,.7)"></v-img>
        </template>

        <v-app-bar-nav-icon @click="drawer = true"></v-app-bar-nav-icon>

        <img src="./logo.png" style="max-height: 100px;height: 90%" />

        <v-spacer></v-spacer>

        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <a href="https://mtsgi.github.io/kitdocs" target="_blank" rel="noopener noreferrer">
              <v-btn icon v-on="on">
                  <v-icon>mdi-file-document</v-icon>
              </v-btn>
            </a>
          </template>
          <span>ドキュメント</span>
        </v-tooltip>

        <v-tooltip bottom>
          <template v-slot:activator="{ on }">
            <a href="https://github.com/mtsgi/kit" target="_blank" rel="noopener noreferrer">
              <v-btn icon v-on="on">
                <v-icon>fab fa-github</v-icon>
              </v-btn>
            </a>
          </template>
          <span>GitHub</span>
        </v-tooltip>

        <!--

        <v-menu bottom offset-y>
          <template v-slot:activator="{ on }">
            <v-btn icon v-on="on">
              <v-icon>mdi-dots-vertical</v-icon>
            </v-btn>
          </template>

          <v-list>
            <v-list-item>
              <v-list-item-title>アイテム</v-list-item-title>
            </v-list-item>
            <v-list-item>
              <v-list-item-title>アイテム</v-list-item-title>
            </v-list-item>
            <v-list-item>
              <v-list-item-title>アイテム</v-list-item-title>
            </v-list-item>
            <v-list-item>
              <v-list-item-title>アイテム</v-list-item-title>
            </v-list-item>
          </v-list>
        </v-menu>

        -->

        <template v-slot:extension>
          <v-tabs align-with-title>
            <v-tab>kitについて</v-tab>
            <v-tab>kitエコシステム</v-tab>
          </v-tabs>
        </template>
      </v-app-bar>

      <v-content id="scrolling-techniques-3">
        <v-container style="height: 180px;"></v-container>

        <v-parallax dark src="./11.jpg" gradient="to top right, rgba(0,0,0,.7), rgba(255,255,255,.7)">
          <v-row align="center" justify="center">
            <v-col class="text-center" cols="12">
              <h1 class="copy mb-4">kit your desktop.</h1>
              <p class="mb-4">kitDesktopはインストール不要でJavaScript上で完全に動作するオープンソースのデスクトップ環境です。</p>
              <a href="https://mtsgi.github.io/kit" target="_blank" rel="noopener noreferrer">
                <v-btn large color="primary" class="mr-4 mt-4">
                  今すぐkitを体験する
                  <v-icon right dark>mdi-open-in-new</v-icon>
                </v-btn>
              </a>
              <a href="https://github.com/mtsgi/kit/releases" target="_blank" rel="noopener noreferrer">
                <v-btn large outlined color="white" class="mr-4 mt-4">
                  リリース一覧を見る
                  <v-icon right dark>fab fa-github</v-icon>
                </v-btn>
              </a>
            </v-col>
          </v-row>
        </v-parallax>

        <v-card class="mx-8 my-12 pb-10 elevation-8" color="blue darken-2" dark>
          <v-img class="white--text align-end" height="200px" src="https://mtsgi.github.io/kitdocs/images/desktop.png">
            <v-card-title class="copy">why kit?</v-card-title>
          </v-img>
          <v-row align="center" justify="center">
            <v-col class="text-center" cols="12">
              <p class="mb-4 px-8">kitは軽量で使いやすいウィンドウシステムとWeb技術ベースのアプリ開発を非常に簡単にするアプリケーションフレームワークを提供することを目的としたデスクトップ環境です。
              </p>
              <p>
                <v-btn x-large light color="white" class="mr-4 mt-4">
                  はじめてのkit - 導入方法
                  <v-icon right dark>mdi-open-in-new</v-icon>
                </v-btn>
              </p>
              <v-btn large outlined color="white" class="mr-4 mt-4">
                kitアプリの仕組みを知る
                <v-icon right dark>mdi-open-in-new</v-icon>
              </v-btn>
              <v-btn large outlined color="white" class="mr-4 mt-4">
                リリース一覧を見る
                <v-icon right dark>fab fa-github</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-card>

        <v-card class="mx-8 my-12 pb-10 elevation-8" color="blue darken-2" dark>
          <v-img class="white--text align-end" height="200px" src="https://mtsgi.github.io/kitdocs/images/desktop.png">
            <v-card-title class="copy">kit your apps!</v-card-title>
          </v-img>
          <v-row align="center" justify="center">
            <v-col class="text-center" cols="12">
              <p class="mb-4 px-8">すべてのkitアプリケーションは、HTML構造とJavaScript(およびJavaScriptを用いたkit apps
                framework)を用いて記述されていて、kitシステムから呼び出されるとAjaxでロードされます。サーバーサイド技術は用いられていません。</p>
              <p>
                <v-dialog v-model="kityourapps" width="500">
                  <template v-slot:activator="{ on }">
                    <v-btn x-large light color="white" class="mr-4 mt-4" v-on="on">
                      もっと詳しく知る
                      <v-icon right dark>mdi-information</v-icon>
                    </v-btn>
                  </template>

                  <v-card class="pt-4">
                    <v-card-text>
                      kitアプリケーションはHTMLと少しのJavaScriptの知識があればすぐに開発することができます。
                    </v-card-text>
                    <v-card-text>
                      CSSを記述してアプリケーションのスタイルを調整することも可能ですが、kitのスタイルフレームワークであるkitstrapを使用するともっと簡単にアプリケーションのスタイルやレイアウトを組み立てることができます。
                    </v-card-text>
                    <v-card-text>
                      kitアプリの開発をしやすくする開発者のためのフレームワーク、kit apps
                      frameworkを使用することもできます。kafを使うことで、JavaScriptコーディングの量を劇的に少なく、あるいはまったくなくすことができます。
                    </v-card-text>

                    <v-divider></v-divider>

                    <v-card-actions>
                      <v-spacer></v-spacer>
                      <v-btn color="primary" text @click="kityourapps = false">
                        閉じる
                      </v-btn>
                    </v-card-actions>
                  </v-card>
                </v-dialog>
              </p>
              <v-btn large outlined color="white" class="mr-4 mt-4">
                kitアプリの仕組みを知る
                <v-icon right dark>mdi-open-in-new</v-icon>
              </v-btn>
              <v-btn large outlined color="white" class="mr-4 mt-4">
                はじめてのkitアプリ開発
                <v-icon right dark>fab fa-github</v-icon>
              </v-btn>
            </v-col>
          </v-row>
        </v-card>
      </v-content>
      <v-footer color="blue-grey" absolute app>
        <span class="white--text">kit desktop system - mtsgi/kit</span>
      </v-footer>
    </v-app>
  </div>
  <script src="https://cdn.jsdelivr.net/npm/vue@2.x/dist/vue.js"></script>
  <script src="https://cdn.jsdelivr.net/npm/vuetify@2.x/dist/vuetify.js"></script>
  <script>
    new Vue( {
      el: '#app',
      vuetify: new Vuetify(),
      data: () => ( {
        drawer: false,
        drawerRight: false,
        right: false,
        left: false,
      } ),
    } )
  </script>
</body>

</html>
