.v-application {
    font-family: 'Noto Sans JP', sans-serif !important;
    color: #3d3d3d !important;
    font-size: 16px;
}

.copy {
    font-size: 42px;
    font-weight: 400;
    font-family: 'DM Sans', sans-serif !important;
}

.v-navigation-drawer__content a {
    text-decoration: none;
}

.v-parallax__content {
    text-shadow: 0 1px 4px rgba(0, 0, 0, .5);
}

.v-parallax__content h1 {
    text-shadow: 0 1px 4px rgba(0, 0, 0, .2);
    border: none;
}

.parallax-container {
    text-shadow: 0 0 8px rgba(0, 0, 0, .25), 0 0 3px rgba(0, 0, 0, .5);
    height: auto;
}

.parallax-container > a {
    color: #ffffff;
    display: block;
    text-shadow: 0 0 6px rgba(0, 0, 0, .5), 0 0 1px rgba(0, 0, 0, .8);
}

.parallax-container > a:hover {
    background: rgba(0, 0, 0, .3);
    text-decoration: underline;
}

.section img {
    max-width: 100%;
}

.preloader-wrapper {
    position: fixed;
    left: calc(50% - 32px);
    top: calc(50% - 32px);
}

.appbar-logo {
    margin-top: 30px;
    max-height: 100px;
    max-width: calc(100% - 140px);
    object-fit: scale-down;
    height: 90%;
    transition: .3s all ease;
}

.v-app-bar--is-scrolled .appbar-logo {
    margin-top: 5px;
}
